.classes {
   background-image: url('https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/bronxltdlm/Group-YbxWo93O8RcZ0wn5.png');
   background-position: center;
   background-size: cover;
   color: white;
}
