.about {
   background-image: url('/src//assets//image//banner-about.avif');
   background-position: center;
   background-size: cover;
   color: white;
}

@media screen and (max-width: 767px) {
   .about {
      background-position: top;
   }

   .about .div-content {
      width: 100%;
   }

   .about .heading1 {
      font-size: 30px;
   }
}
