.about {
   background-image: url('https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/bronxltdlm/Group-ARqG6b9yLJfJvp17.png');
   background-position: center;
   background-size: cover;
   color: white;
}
