.banner {
   background-image: url('/src//assets//image/banner-top.avif');
   background-position: center;
   background-origin: center;
   color: white;
}

@media screen and (max-width: 767px) {
   .banner {
      background-position: top;
   }

   .banner .heading1 {
      width: 100%;
      font-size: 30px;
      margin-top: 150px;
   }

   .banner .heading2 {
      margin-top: 50px;
      font-size: 18px;
   }
}
