.banner {
   background-image: url('https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/bronxltdlm/kulturistas-m7oWrM175eu7nJ9O.png');
   background-position: center;
   background-origin: center;
   color: white;
}
