.header {
   padding-top: 20px;
   padding-bottom: 20px;
   background-color: black;
   display: flex;
   align-items: center;
}

.header a:not(:first-child) {
   text-decoration: none;
   padding-left: 15px;
   padding-right: 15px;
   display: block;
   float: left;
   font-weight: 700;
}

.header a:first-child {
   margin-right: 30px;
   font-size: 22px;
   font-weight: bold;
}

.header a.showMenu {
   font-size: 22px;
   display: none;
}

@media screen and (max-width: 767px) {
   .header a:not(:first-child) {
      display: none;
   }

   .header {
      display: block;
      position: relative;
   }

   .header a.showMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
   }

   .header.responsive a {
      display: block;
      float: none;
   }

   .header.responsive a:not(:first-child, :last-child) {
      font-size: 18px;
      padding-top: 20px;
      padding-left: 0px;
   }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
   .header a:first-child {
      padding-right: 10px;
      margin-right: 0px;
   }

   .header a:not(:first-child) {
      padding: 0px 10px;
   }
}
