.App {
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 100vh;
}

.container-main {
   padding-left: 20% !important;
   padding-right: 20% !important;
}

@media screen and (max-width: 767px) {
   .container-main {
      padding-left: 20px !important;
      padding-right: 20px !important;
   }
}
